body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
}
.links {
    list-style-type: none;
    padding: 0;
}
.links li {
    margin: 10px 0;
}
.links a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
}
.links a:hover {
    color: #0056b3;
}

.header {
    background-color: var(--gray-900);
    text-align: center;
    height: 8rem;
}
.pokemon__logo {
    width: 300px;
}